   body {
       display: flex;
       height: 100vh;
       justify-content: center;
       align-items: center;
       padding: 10px;
       background: linear-gradient(135deg, #71b7e6, #9b59b6);
   }

   h1 {
       font-size: 22px;
       text-align: center;
   }

   h2 {
       font-size: 20px;
       text-align: center;
   }

   .formEncrypt textarea {
       width: 100%;
       min-height: 100px;
       border: 1px solid #cccccc;
   }

   .formEncrypt textarea.resultText {
       background: #f5f5f5;
       color: #000;
   }

   .formEncrypt input[name=key] {
       width: 100%;
       height: 30px;
       border: 1px solid #cccccc;
   }

   .execute,
   .ClearForm {
       text-transform: uppercase;
       background: linear-gradient(135deg, #71b7e6, #9b59b6);
       color: #000;
       margin-top: 20px;
       font-size: 16px;
       padding: 14px 20px;
       border: none;
       cursor: pointer;
       width: 100%;
       font-weight: bold;
       border-radius: 6px;
   }

   .ClearForm {
       background: linear-gradient(135deg, #71b7e6, #9b59b6);
       text-decoration: none;
   }

   .form {

       max-width: 500px;
       width: 100%;
       background: white;
       padding: 25px 30px;
       border-radius: 5px;
   }